<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Notepad App</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="list-group">
        <div class="list-group-item note"
        *ngFor="let note of notes"
        [ngStyle]="{'background-color':note.id === selected.id ? 'green' : 'white' }"
          (click)="selectNote(note)"
        >
          {{note.title}}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div>
        <form>
            <div class="form-group">
            <label for="">Title:</label>
            <input class="note-title form-control" name="title"   #title="ngModel" [(ngModel)]="selected.title" required>
              <div [hidden]="title.valid || title.pristine"
              class="alert alert-danger">
                Name is required
              </div>
          </div>
          <div class="form-group">
            <label for="">Note:</label>
            <textarea class="note-body form-control" name="body" [(ngModel)]="selected.body"></textarea>
          </div>
          <div class="form-group">
            <label for="">Favourite:</label>
            <input type="checkbox" class="note-favourite" name="favourite" [(ngModel)]="selected.favourite">
          </div>
          <div class="form-group">
            <label for="">Color:</label>
            <input type="color" class="note-color" name="color" [(ngModel)]="selected.color">
          </div>
          <div class="form-group">
            <button class="btn btn-success note-save" [disabled]="!selected.title" (click)="saveNote(selected)">Save</button>
          </div>
        </form>
      </div>

      <div>
        Please select note or <a href="#" (click)="newNote()" class="note-new">click here to create new one</a>
      </div>

    </div>
  </div>
</div>


<!-- <div>
  <table>
    <tr *ngFor="let note of notes">
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
  </table>
</div> -->